<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{$GLOBALS['S']['keywords']}-{$type['classname']}</title>
        <meta NAME="Keywords" CONTENT="{$GLOBALS['S']['keywords']}" />
        <meta name="description" content="{$GLOBALS['S']['description']}"/>
        <link href="/skin/default/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
         <link href="/skin/default/css/common.css" rel="stylesheet">
         <link href="/skin/default/css/huowu.css" rel="stylesheet">
    </head>
    <body>
        <div class="content-body">
            <?php 
                $type['pid'] = 37; 
            ?>
            {include="head.html"}
            {loop table="classtype" tid="$type['pid']" body="1" limit="1" as="v"}
                <?php $parent = $v;?>
            {/loop}
            <div class="content">
                <div class="banner">
                    <img src="{$parent['litpic']}">
                </div>
                <div class="header-title">
                    <img src="/skin/default/images/custom-icon.png" height="15"> <span>{$parent['classname']}</span>
                    <div class="tab-navigate">
                        <ul class="nav nav-tabs" role="tablist">
                            <?php $i=1;?>
                            {loop table="classtype"  pid="$type['pid']"  as="v"}
                                <li class="<?php if ($v['tid'] == $type['tid'] || ($type['tid'] == $v['pid'] && $i==1) ) {?> active <?php } ?>" role="presentation">
                                    <a href="{$v['url']}">{$v['classname']}</a>
                                </li>
                                <?php $i++;?>
                            {/loop}
                            
                        </ul>
                    </div>
                </div>
                <div class="caozuo-body">
                    <div class="hw_body">
                        <?php $i=1; ?>
                        {loop table="channel" molds="huowu" tid="$type['tid']"  as="v" orderby="id|asc"}
                            <div class="hw_content <?php if ($i%3 != 1):?>margin-left<?php endif;?> ">
                                <img src="{$v['bx_image']}">
                                <p class="hw_title text-center">{$v['title']}</p>
                            </div>
                            <?php $i++; ?>
                        {/loop}
                    </div>
                </div>
                
            </div>
            {include="bottom.html"}
        </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/skin/default/js/bootstrap.min.js"></script>
    <script src="/skin/default/js/header.js"></script>
    <script src="/skin/default/js/index.js"></script>
    </body>
</html>