/**all**/
body {
    background-color: #FDFFFE;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti;
}

.content-body {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: url('../images/banner_bg.png');
    /* filter: blur(1px); */
    width: 100%;
    padding-bottom: 10px;
    height: 140px;
}
.banner {

}
.content {
    padding-top: 140px;
}

/**header**/
.header-top {
    float: left;
    margin-top: -5px;
    padding-bottom: 18px;
    margin-left: 5px;
}

.header-top-select {
    padding-bottom: 16px;
    border-bottom: 2px solid #d45272;
    color:#d45272;
}

.header-top-select > a {
    color:#d45272;
    text-decoration:none;
}

.header-top > a {
    text-decoration:none;
    color: black;
}


.top-info {
    width: 1100px;
    margin: 0 auto;
    overflow: auto;
    color: #0088C7;
    margin-top: 10px;
}

.top-info .logo-info {
    float:left;
    margin-top: 5px;
}

.top-info .top-info-right {
    float:right;
    margin-top: 25px;
    font-size: 15px;
}

.top-info .logo-info > span {
    font-size: 19px;
    font-weight: 900;
    position: absolute;
    padding-top: 11px;

}


.navbar {
    /*background-color: #0088C7;*/
    border-radius:0;
    border:0;
    margin-bottom:0;
    min-height: 20px;
    padding-top: 10px;
}

.navbar-nav {
    margin: 0 auto;
    width: 1000px;
    float: inherit;
}

.navbar-nav  > li {
    /*width:20%;*/
    width:16.666%;
    /*border-right: 1px solid #0E8FCA;*/
}

.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000;
    font-size: 15px;
}

.navbar-nav .active {
    color: #007DB7;
    /*background-color: #007DB7;*/
}

.navbar-nav>li>a:hover {
    color: #007DB7;
    /*background-color: #007DB7;*/
}

.navbar-nav>li>a:focus {
    color: #007DB7;
    /*background-color: #007DB7;*/
}

.dropdown-menu {
    color: black;
    min-width: 20px;
    width: 100%;
    border: 0;
    border-radius: inherit;
    background:url('../images/banner_bg.png');
    /*background-color: #0088C7;*/
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  /*background-color: #007DB7;*/
  /*border-color: #007DB7;*/
    background:url('../images/banner_bg.png');
}

.dropdown-menu>li>a {
    padding: 10px 0;
  /*color: #fff;*/
}

.dropdown-menu>li>a:hover {
  background-color: #007DB7;
  border-color: #007DB7;
  color:#fff;
}

.left-title {
    margin: 25px 0 10px 0;
    background: #0088c7 url(../images/caozuo_icon.png) no-repeat right;
    color:#fff;
    font-size: 15px;
    font-weight: 900;
    padding: 3px 36px 3px 10px;
    display: inline-block;
}

/**content**/
.header-title {
    font-size: 15px;
    font-weight: 700;
    color: #0088C7;
    width: 1000px;
    margin: 15px auto;
}
.header-title > span {
    padding: 0 3px;
}
.header-title > img {
    margin-bottom: 3px;
}

.banner > img {
    width: 100%;
}

/**footer**/
.footer {
    width: 100%;
    bottom: 0;
    background-color: #E5E5E5;
    font-size: 15px;
    color:#888888;
    margin-top: 30px;
}

.footer-info {
      padding: 20px 0;
}

