.lc_content {
    width:1000px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lc_content_list {
    margin:35px 25px;
}

.map_list {
    padding-bottom: 5px;
}

.map_list > h5 {
    font-size: 16px;
    font-weight: 600;
    color:#0088c7;
}

.map_list > ul {
    list-style:none;
    overflow: auto;
    border-bottom: 1px dashed #0088c7;
}
.map_list > ul >li {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.map_list > ul >li > a {
    color:#555;
    font-size: 13px;
}
.map_list > ul >li > a:hover {
    color:#0088c7;
    text-decoration: none;
}